.book-list-item, .book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-list-item {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
}

.book-cover img {
    width: 86px;
    height: auto;
}